@import url('https://fonts.googleapis.com/css2?family=Montserrat@1&display=swap');
@import url('fonts/CenturyGothic/font.css');

:root {
    --storm: #565c5e;
    --forest-green: #455954;
    --leather: #9d7463;
    --blue: #b5c2c7;
    --linen: #dfdbd8;
}

html {
    font-family: 'Century Gothic', sans-serif;
    background-color: var(--linen);
}

.container {
    max-width: 100%;
    margin: 40px;
}

.box {
    margin: 20px;
    border: 2px solid black;
}

.box:nth-child(2) {
    padding: 20px;
}

.box-content {
    margin: 20px;
}


.ml-4 {
    margin-left: 10%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    border-radius: 50%; 
    width: 150px;
}

.logo p {
    margin-top: 0;
}

.masthead {
    padding: 16px;
    border: 2px solid var(--blue);
    background-color: var(--storm);
    color: var(--linen);

}

.subject_name {
    display: flex;
    margin-top: 5%;
}

.subject_name h3 {
    font-size: 26px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-top: 20%;
    margin-left: 100px;
}

.profile-image img {
    width: 100px; 
    border-radius: 50%; 
}

.profile-name {
    font-size: 16px;
    margin: 0; 
    margin-top: 20%;

}

nav {
    display: flex;
}

.o {
    transition: background-color .4s;
    display: inline-block;
    border: 1px solid black;
    padding: 14px;
}

.o select {
    border: none;
    padding: 6px;
    background-color: var();
}


.o select:hover{
    border: none;
}

.tabcontent {
    display: none;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 40px;
}

nav li:hover {
    background-color: black;
}

nav a:hover {
    color: white;
}

.footer {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
  }
  

    

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 { flex: 0 0 8.33%; }
.col-2 { flex: 0 0 16.66%; }
.col-3 { flex: 0 0 25%; }
.col-4 { flex: 0 0 33.33%; }
.col-5 { flex: 0 0 41.66%; }
.col-6 { flex: 0 0 50%; }
.col-7 { flex: 0 0 58.33%; }
.col-8 { flex: 0 0 66.33%; }
.col-9 { flex: 0 0 75%; }
.col-10 { flex: 0 0 83.33%; }
.col-11 { flex: 0 0 91.66%; }
.col-12 { flex: 0 0 100%; }

@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    [class*="col-"] {
        width: 100%;
        flex: 0 0 100%;
    }

    .masthead {
        text-align: center;
    }

    .profile-container {
        display: inline;
        text-align: center;
    }

    .profile-name {
        margin: 0;
    }

    nav {
        flex-direction: column;
        margin-right: 10%;

    }

    .ml-4 {
        margin: 0;
    }

    .o {
        display: block;
    }
}
